#main_viva{
    width: 98.6%;
    border: 1px solid gray;
    margin-left: 0.5%;
    padding: 1px;
}
#container_h_viva{
    background-color: rgb(140, 157, 233);
    height: 33px;
    width: 100%;
    padding-top: 5px;
}
#title_txt{
color: rgb(2, 2, 173);
font-weight: 600;
}