.nav-main{
    background-color: rgb(52, 69, 218);
    height: 39px;
    width: 99%;
    margin-left: 0.5%;
}
.nav_main_sec{
    display: flex;
    flex-wrap: nowrap;
    /* position: fixed; */
}
.item_container{
    background-color: red;
    width: auto;
}
.nav_main_sec > a:-webkit-any-link{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    height: 50%;
    margin-left: 50px;
    padding: 11px 20px;
    color: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 90%;
    font-family: 'Times New Roman', Times, serif;
}

button{
    height: 30px;
    margin-left: 50px;
    background-color: inherit;  
    border: none;
}

.a:link, .a:visited , #anchor:link , #anchor:visited {
    height: 50%;
    margin-left: 50px;
    padding: 11px 20px;
    color: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 90%;
    font-family: 'Times New Roman', Times, serif;
}

.a:hover, .a:active, #anchor:hover  {
    background-color: white;
    color:  rgb(52, 69, 218);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.active, .active:active{
  
    background-color: white;
    color:  rgb(52, 69, 218) !important;
    border-bottom: 1.5px  solid rgb(52, 69, 218);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.inactive{
    color: white;
    background-color:  rgb(52, 69, 218);
}
.a{
    height: 50%;
    margin-left: 50px;
    padding: 11px 20px;
    color:  rgb(52, 69, 218) !important;

    /* color: white; */
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 90%;
    font-family: 'Times New Roman', Times, serif;
}
#btn_logout{
   outline-style: none;
}

@media (max-width: 500px){
    .jUCstG {
        display: block !important;
    }
}


 