.group_list_disp{
    /* position: absolute; */
 margin-top: 10px;

    width: 98.7%;
    margin-left: 0.5%;
    border: 1px solid gray;
    /* background-color: red;    */
    /* height: 300px; */
}
.groups_tbl{
    /* position: relative; */
    margin-top: 20px;
    width: 100% !important;
    /* border: 1px solid gray; */

}
#groups_list{
 /* margin-top: 10px; */
}

#groups{
    /* position: sticky/; */
    /* margin-top: 100px; */
}
#r_btn_sup{ 

    margin-left: 10% !important;
}
#make_groups{
    width: 30% !important;
}
#p_detail > tr> td{
    text-align: left;
}
.group_id_g{
    width: 100% !important;
}
#main_tr_group{
    /* margin-top: 10px; */
    /* padding-left: 20%; */
   
}
#multi_st_list{
    width: 166px;
    height: 200px;
}
.st_list, .sup_list{
    /* margin-left: 20px; */
    background-color: lightgray;
    width: 50px !important;
    height: 200px;
}
#st_list_container{
    margin-top: 0%;
    /* background-color: red; */
    height: 100%;
    width: 200px;
    border: 1px solid rgb(58, 58, 190);
}
.st_list_title{
    margin-left: 40%;
    margin-bottom: 40px;
    color: rgb(5, 5, 126);
    font-weight: 600;
}
.st_list_item{
    /* background-color: rgb(160, 159, 159); */
    /* margin-top: 50px; */
    color: rgb(51, 51, 255);
    margin-left: 40%;
    margin-right: 15px;
    font-size: 95%;
}
.sup_title{
    width: 25%;
}
.grp_id{
    width: 10%;
}
.tbl_group_val{
    text-align: left !important;
    text-transform: capitalize ;
}
.grp_id_v{
    text-transform: uppercase ;

}
#progress{
    width: 15%;
}
#project_title{
    font-size: 90%;
    /* align-content: center;  */
    /* width: 30%; */
}
.progress_container{
    width: 90%;
    height: 15px;
    font-size: 10px;
    margin-left: 5%;
    border: 0.5px solid lightgray ;
    border-radius: 5px;
}
.progress_bar{

    background-color: rgb(85, 85, 238);
    width: 0%;
    height: 15px;
    border-radius: 5px;
    text-align: center;
    color: whitesmoke;
    /* height: inherit;
    width: inherit; */

}
.progress_inpt_cont{
    margin-left: 8%;
}
.progress_inpt{
    width: 20%;
    /* margin-left: 30%; */
    /* margin-right: 10px; */
    float: right;
    height: 16px;
}
.fasave > button{
    color: white;
    float: right;
    /* margin-left: 5px !important; */
    background-color: blue;
    height: 21px;

    border-radius: 4px;
    /* width: 5./0px; */

}
.w_disp{
    margin-left: 0%;
}
.fontaws{
    /* height: 100px; */
}