#create_group{
    /* background-color: red; */
    /* height: 400px; */
}
#st_list{
}
#sup_list{
    /* width: 20% !important; */
    /* padding-left: 20% !important; */
    /* float: right; */


}
#sup_list_drop{
    /* margin-left: 2%; */
}
#r_btn_sup{ 

    margin-left: 10% !important;
}
#make_groups{
    width: 30% !important;
}
.group_id_g{
    /* width: 100% !important; */
}
#main_tr_group{
    /* margin-top: 10px; */
    /* padding-left: 20%; */
   
}
#multi_st_list{
    width: 166px;
    height: 200px;
}
.st_list, .sup_list{
    /* margin-left: 20px; */
    background-color: lightgray;
    width: 50px !important;
    height: 200px;
}
#st_list_container{
    margin-top: 0%;
    /* background-color: red; */
    height: 100%;
    width: 200px;
    border: 1px solid rgb(58, 58, 190);
}
.st_list_title{
    margin-left: 40%;
    margin-bottom: 40px;
    color: rgb(5, 5, 126);
    font-weight: 600;
}
.st_list_item{
    /* background-color: rgb(160, 159, 159); */
    /* margin-top: 50px; */
    color: rgb(51, 51, 255);
    margin-left: 40%;
    margin-right: 15px;
    font-size: 95%;
}
#main_selected_group{
    /* background-color: red;
    width: 100%;
    height: 30px; */
}
.title_st{
    /* text-align: center; */
    /* padding-left: 60%; */
}