
#nn_Assignment{
    background-color: rgb(140, 157, 233);
    width: 99%;
    margin-left: 0.5%;
    height: 37px;
    color: red;
    padding-left: 43%;
    padding-top: 8px;
    box-sizing: border-box;
    font-weight: 420;
    font-size: 90%;
}
#assignment_main_container{
    border: 1px solid rgb(7, 7, 221);
    width: 98.8%;
    margin-left: 0.5%;
    margin-top:  3px;
}
#assignment_container{

    /* margin-top: 5vh; */
    margin-left: 2%;
    color: rgb(4, 4, 136);
}
#cap{
    color: rgb(4, 4, 136);
    
}
#tbl-assignment{
    color: black;
    font-size: 90%;
    width: 99%;
    text-align: left;
    margin-bottom: 0.3%;
    margin-left: 0.5%;
    /* padding: 20px; */
}
#tbl-assignment>tbody>tr>th{
    text-align: center;
    height: 4vh;
    font-size: 105%;
    color: rgb(28, 28, 138);
    background-color: rgb(162, 167, 240);
    /* width: 10%; */
}
#tbl-assignment>tbody>tr>td{
    text-align: center;
    height: 6vh;
}
#tbl-assignment{
    border: 2.5px solid rgb(197, 193, 193);
    border-collapse: collapse;
}
#tbl-assignment>tbody>tr>th, #tbl-assignment>tbody>tr>td{
    border: 1px solid rgb(197, 193, 193);
    border-collapse: collapse;
}
#f-dowload{
    color: rgb(22, 6, 255);
    font-weight: 350 ;
    font-size: 85%;
}
#d-date{
    color: red;
}
.a_marks{
    width: 9%;
}
.a_topic_title{
    width: 21%;
}
#tbl-result{
    /* width: 100%; */
}
#main_edit_assign ,#main_edit_marks{
    width: 99%;
    display: block;
    /* position: absolute; */
}

#marks{
    border: none;
    outline: none;
    text-align: center;
    /* width: 10%; */
    /* cursor: alias; */
}
#marks:hover{
    cursor: text;

}
#btn_delete{
    background-color: rgb(6, 6, 223);
    color: white;
    margin-left: 0%;
    outline: none;
    border: 1px solid blue;
    border-radius: 10px;
    /* float:left; */
}
#btn_delete:hover{
    background-color: rgb(238, 234, 234);
    color: rgb(6, 6, 165);

}
#a_no{
    width: 5%;
}

#main_edit_marks{
    /* margin-top: 0px; */
    /* position: absolute; */
}
/* Upload Assignment Styling from Here */
