
#nn_Assignment{
    background-color: rgb(140, 157, 233);
    width: 99%;
    margin-left: 0.5%;
    height: 37px;
    color: red;
    padding-left: 43%;
    padding-top: 8px;
    box-sizing: border-box;
    font-weight: 420;
    font-size: 90%;
}
#assignment_main_container{
    border: 1px solid rgb(7, 7, 221);
    width: 98.8%;
    margin-left: 0.5%;
    margin-top:  3px;
    overflow-x:auto;
}
#assignment_container{

    /* margin-top: 5vh; */
    margin-left: 2%;
    color: rgb(4, 4, 136);
}
#cap{
    color: rgb(4, 4, 136);
    
}
#tbl-assignment{
    color: black;
    font-size: 90%;
    width: 99%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0.3%;
    margin-left: 0.5%;
    
    /* padding: 20px; */
}
.tbl-assignment{
    width: 50%;
    color: rgb(47, 5, 163);
    text-align: left;
    padding-left: 2%;
    /* padding: 5%; */


}
.tbl-assignment>tr{
    /* color: rgb(47, 5, 163); */
    /* width: 10%; */
    
}
.tbl-assignment>th{
    /* color: rgb(47, 5, 163); */
    /* width: 10% !important; */
}
#tbl-assignment>tbody>tr>th{
    text-align: center;
    height: 4vh;
    font-size: 105%;
    color: rgb(28, 28, 138);
    background-color: rgb(162, 167, 240);
    /* width: 10%; */
}
#tbl-assignment>tbody>tr>td{
    text-align: center;
    height: 6vh;
}
#tbl-assignment{
    border: 2.5px solid rgb(197, 193, 193);
    border-collapse: collapse;
}
#tbl-assignment>tbody>tr>th, #tbl-assignment>tbody>tr>td{
    border: 1px solid rgb(197, 193, 193);
    border-collapse: collapse;
}
#f-dowload{
    color: rgb(22, 6, 255); 
    font-weight: 350 ;
    font-size: 85%;
}
#d-date{
    color: red;
}
.a_marks{
    width: 9%;
}
.a_topic_title{
    width: 21%;
}
/* .tbl-result > tbody > tr> th{
    margin-right: 40px;
} */
/* .tbl-result tr{
    background-color: red;
} */
#main_edit_assign ,#main_edit_marks{
    width: 99%;
    display: block;
    /* position: absolute; */
}

#marks{
    border: none;
    outline: none;
    text-align: center;
    /* width: 10%; */
    /* cursor: alias; */
}
#marks:hover{
    cursor: text;

}
#btn_delete{
    background-color: rgba(17, 65, 197,0.8);
    
    color: white;
    margin-left: 0%;
    outline: none;
    height: 25px;
    /* border: 1px solid blue; */
    border-radius: 2px;  
    /* float:left; */
}
.b-td{
    width: 97%;
    min-width: 150px;
    /* margin-right: 10px; */
}
.bt-b{
    width: 68%;
}
.assign-btn{
    color: white;
    height: 27px;
    /* width: 80%; */
    margin-left: 105.5%;
    background-color: rgba(17, 65, 197,0.8);
    border: none;
    border-radius: 2px;

}
.assign-btn:hover{
    background-color: rgba(17, 65, 197, 1);
} 
#btn_delete:hover{
    background-color: rgba(17, 65, 197, 1);
    /* color: rgb(6, 6, 165); */

}
#a_no{
    width: 5%;
}
.e-a-t{
    margin-left: 5% !important;
}
.show_assign{
    text-transform: capitalize;
}
.case{
    text-transform: uppercase;
}
/* #marks:nth-child(even) {background-color: #c9c4c4;} */
#p_detail{
    width: 100%;
}
.p_head{
    background-color: rgb(212, 212, 250);
    width: 20%;
    font-size: 88%;
    font-weight: 500;
    text-align: left;
}
.p_info{
    background-color: rgb(243, 239, 239);
    /* width: 20%; */
    font-size: 95%;
    text-align: left;
}
#submit_assign{
    width: 20%;
}
#sub_d{
    font-size: 80%;
}
.gid_select{
    width: 98.2% !important;
}
.td_nf{
    width: 99%;
    margin-left: 0.5%;
    height: 25px;
    text-align: center;
    color: rgb(235, 6, 6);
    font-size: 90%;
    background-color: rgb(162, 167, 240);
}
.searching_assignment{
    /* background-color: red; */
    /* position: absolute; */
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}
.search-ass-conatiner{
margin-right: 2%;
/* marginb */
}
.search-ass-reset{
    background-color: rgb(206, 199, 199);
    border: 1px solid black;
    height: 21px;
    margin-left: 1%;
}