.maincontainer1_sup{
/* height: 610px !important; */
}
/* @media screen and (min-width: 480px) {
    #maincontainer11{
        margin-left: calc(50% - 25%);
    }
  }	 */

/* @media screen and (min-width: 1000px){
   
} */

#maincontainer11{
    /* height: 450px; */
    max-width: 400px;
    min-width: 400px;
    margin-left: calc(50% - 205px);
    margin-top: -20px !important;
    background-color: rgb(243, 241, 236);
    border-radius: 20px;
    animation: my3ndmove 5s infinite;  
} 
#grandmain_container{
    text-align: center;
    height: auto;
    border-bottom: 5px solid rgb(9, 36, 116);
    width: 99%;
    min-width: 400px;
    margin: 0.01%;
    margin-top: 0%;
    padding: 0%;
    background-color: rgb(9, 36, 116);
    margin-left: 0.5%;
    
    /* animation: mymove 50s infinite ;    */
}



/* Styling....... */

.tbl_signup{
    width: 100%;
    color: rgba(17, 17, 121, 0.884);
    text-align: left;
}
.tbl_signup> tr>td>input{ 
    width: 97%;
    border-radius: 0.5px;
}
.tbl_signup> tr>td>select{
    width: 98.5%;
}
.tbl_signup> tr>td>textarea{
    width: 96.3%;
}
.btn-signup1{
    background-color: rgba(17, 65, 197,0.8);
    margin-top: 5%;
    color: white;
    width: 57% !important;
    height: 30px;
    border: none;
    border-radius: 2px !important;

}
.btn-signup1:hover{
    background-color: rgba(17, 65, 197, 1);

    box-shadow: 5px black ;

}
h2{
    width: 100%;
    height: 6vh;
    color: rgba(17, 17, 121, 0.884);
    text-align: center;
}

@keyframes my3ndmove {
    50% {background: rgb(187, 238, 243)  bottom right/50px 50px;}
}

/* Dialogbox */

#redir_main-container{
    /* background-color: red; */
    border: 1px solid rgb(9, 9, 236);
    width: 35%;
    height: 35vh;
    padding: 0%;
    margin-left: calc(50% - 17%);
    margin-top: 10vh;
}
#welcome{
    height: 5vh;
    padding: 0%;
    margin-left: 2%;
    margin-top: 2%;
    /* margin-bottom: 2%; */
    font-size: 110%;
    font-family: 'Times New Roman', Times, serif
}
#tr1, #tr2{
    text-align: center;
    height: 10px;
    color: rgba(1, 1, 255, 0.966);
    font-size: 90%
}
#tbl_render{
    /* background-color: red; */
    width: 100%;
    height: inherit;
    margin: 0%;
    padding: 0%;
}
#tbl_render>thead , #tbl_render>tfoot{
    background-color: rgb(146, 170, 243);
    /* height: 2; */
    color: rgb(7, 7, 121);
    font-weight: bold;
    margin: 0%;
    padding: 0%;
    

}
#tbl_render>tfoot{
   text-align: center;
   font-size: 80%;
}