#flex-main-container{
    border-bottom: 1px solid rgb(9, 9, 212);
    width: 98.8%;
    margin-left: 0.5%;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 94%;
    margin-left: 3%;
    /* background-color: DodgerBlue; */
  }
  
  .flex-container > div {
    /* background-color: #f1f1f1; */
    width: 100px;
    height: 100px;
    margin: 5px;
    /* margin-left: 20px; */
    text-align: center;
    line-height: 2%;
    font-size: 28px;
 
  }

  #flex-heading{
      margin-left: 2%;
      color: rgb(32, 32, 243);
      text-transform: uppercase;

  }
  .description{
      font-size: 50%;
      color: rgb(32, 32, 243);
      font-weight: 430; 
      /* margin-top: 0%; */
  }
  .descriptio{
    font-size: 13px;
    color: rgb(32, 32, 243);
    font-weight: 400; 
  }
  #btn_info-dec{
    margin-top: 9%;
}
/* #btn_info_conatainer{
    margin-top: 10px;
} */
