.tbl-profile{
    margin-top: 10px;
    width: 99%;
    margin-left: 0.5%;
    text-align: left;
}
tr{

    width: 30%;
    margin: 10px;

}
.tbl-profile  th{
    background-color: rgba(136, 198, 248,0.4 );

    padding: 0.5%;
    font-size: 13PX;;
    width: 16%;
}
.p-td{
    padding: 0.5%;
    background-color:rgb(250, 246, 246);


}
.p-pic{
    background-color:rgb(250, 246, 246); 
    width: 13%;
}
.p-btn{
    color: white;
    margin-top: 10%;
    float: right;     
    height: 6vh;
    width: 70%;
    background-color: rgba(17, 65, 197,0.8);
    border: none;
    border-radius: 10px;
}
.p-btn:hover{
    background-color: rgba(17, 65, 197, 1);
}
.p-p{
    margin-top: 0px;
    color: rgb(47, 5, 163);
    font-size: 100%;
}

/* show hide password */
/* body, html {
    height: 100%;
  } */
  
  /* body {
    background: linear-gradient(#607D8B, #455A64);
    font-family: 'Roboto', sans-serif;
  } */
  
  /* form {
    margin: 3em auto;
    max-width: 320px;
    background: #FFFFFF;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  } */
  
  .password {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    color: #727272;
  }
  .password__input {
    display: block;
    text-transform: none;
    width: 39%;
    height: 15px;
    /* border-width: 0 0 1px; */
    /* border-style: solid; */
    /* border-color: #B6B6B6; */
    font-weight: 400;
    color: #212121;
  }
  /* .password__input:focus, .password__input:active {
    border-color: rgb(126, 137, 241);
    outline: 0;
  } */
  .password__show {
    cursor: pointer;
    /* position: relative; */
    /* bottom: 11px; */
    height: 16px;
    right: 2;
    /* margin-top: 3px; */
    background-color: rgba(80, 171, 245, 0.836);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 700;
    font-size: .8em;
  }
  .password__strength {
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: -8px;
    left: 0;
    background: transparent;
    transition: all 300ms ease-in-out;
    height: 10px;
    background-color: red;
  }
  .password__strength[data-score="null"] {
    width: 0;
    background: red;
  }
  .password__strength[data-score="0"] {
    width: 5%;
    background: #F44336;
  }
  .password__strength[data-score="1"] {
    width: 25%;
    background: #F44336;
  }
  .password__strength[data-score="2"] {
    width: 50%;
    background: #FFEB3B;
  }
  .password__strength[data-score="3"] {
    width: 75%;
    background: #4CAF50;
  }
  .password__strength[data-score="4"] {
    width: 100%;
    background: #4CAF50;
  }
  