#grand-main{
    height: 7.5vh;
    margin:1%;
    padding: 0.5%;
}
#main-c{
    border: 1px solid rgb(88, 70, 190);
    margin: 0.5%;
    min-height: 50vh;
    max-height: auto;
    padding: 0.1%;
}
#upload{
    height: 6vh;
    background-color: rgb(202, 192, 192);
    padding-top: 0.4%;
}
#pcontainer{
    background-color: rgb(140, 157, 233);
    height: 5vh;
    align-content: initial;
    padding: 0.3%;  
    padding-top: 0.5%;
}
#pcontainer>#ntitle{
    color: rgb(9, 9, 148);
    font-weight: bold;
    margin-left: -91%;

}
.form-inline{
    display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: auto;
}
.form-inline label{
    margin: 0px 0px 0px 0px;
}
#ptitle{
    color: rgb(9, 9, 148);
    font-weight: bold;
    /* margin-left: -92%; */
}
.n-main{
    background-color: rgb(185, 175, 175);
    border: 2px solid rgb(160, 145, 145);    
    border-radius: 10px;
    width: 100%;
    height: 7.5vh;
}
.ndate{
    font-size: 80%;
    opacity: 0.5;
    margin-left: 1%;
    color: rgb(99, 16, 16);
    width: 70%;
}
.ntitle > a{
    width: 70%;
    padding: 1%;
    height: 10px;
}
 .n-main > button{
    float: right;
    margin-top: -2.4%;
    margin-right: 1%;
}
#main-c >#label{
    margin-bottom: 30px !important;

}

#upload > form > label {
    margin-left: 2%;
    margin-right: 0.5%;
    font-size: 100%;
    font-weight: bold;
    color: rgba(3, 3, 105, 0.884);
}
#upload > .btnn{
    border-color: inherit;
    background-color: rgb(97, 74, 182);
    color: white;
    font-weight: bold;    
    width: 8%;
    height: 30px;
    border-radius: 10px;
} 
#upload > .btnn:hover{
    background-color: white;
    color: rgb(155, 114, 114);
    border: 2px solid  rgb(155, 114, 114);

}
.ck.ck-editor, .ck.ck-editor>button {
    position: unset !important;
}
.ck-rounded-corners, .ck.ck-editor__editable:not(.ck-editor__nested-editable), .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners{
height: 300px;
}
#btn_n_editor{
    background-color: rgba(17, 65, 197,0.8);
    color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    height: 30px;
    margin-left: -62%;
    /* float: left; */
    /* border: none; */
    border-radius: 4px;
}
.pcontainer_ral{
    margin-left: -87% !important;
}
#btn-navigate-container{
    /* background-color: blueviolet; */
    width: 80%;
    margin-left: calc(50% - 13%);
    margin-bottom: 6px;

}
#btn-newest{
    background-image: url('../../../data/newest.png')
}
#btn-Newer{
    background-image: url('../../../data/newer.png')
}
#btn-Older{
    background-image: url('../../../data/older.png')
}
#btn-Oldest{
    background-image: url('../../../data/oldest.png')
}
.btn-navigate{
    background-color: rgb(82, 114, 218);
    color: white;
    cursor: hand;
    width: 55px;
    /* border: 1px solid rgb(97, 97, 219); */
    height: 24px;
    margin: 10px;

    /* width: 60px; */
    /* border-radius: 2px; */
}

#btn_n_editor:hover{
    background-color: rgba(17, 65, 197, 1);


}
.ck ,.ck-editor__main {
    text-align: left;
}
.ckedit{
    /* background-color: red; */
    border: 1px solid white;
}
 .ck-button, .ck-off ,  .ck-icon, .ck-button__icon{
    /* display: none; */
    position: static !important;
    /* float: left !important; */
}