.main-container{
    /* background-color: red; */
    height: 520px;
    width: 99%;
    min-width: 10%;
    margin: 0.01%;
    margin-top: 0%;
    padding: 0%;
    background-color: rgb(9, 36, 116);
    /* background-color: rgb(9, 36, 116); */
    margin-left: 0.5%;
    /* margin-top: 200px; */
    /* position: absolute; */
    

  
    /* animation: mymove 50s infinite;    */
} 


.submain-container{
    height: 500px;
    width: 40%;
    /* margin-top: 9px; */
    margin-left: calc(50% - 20%);
    background-color: rgb(243, 241, 236);
    border-radius: 60px;
    /* border-top-left-radius: 100px; */
    animation: my2ndmove 5s infinite;   
    
}

#linkul-d{
    list-style-type: none;
    margin-top: 0%;
    /* position: relative; */
}
.submain-container>#list-d{
    /* background-color: red;    */
    /* margin-top:0%; */
    margin-left: 3.5%;
    /* width: 100%; */
    /* position: relative; */

    /* padding: 10px; */
    margin-top: 30px;
    /* position: relative; */
}
#list-d-v{
    /* background-color: red; */
    height: 40px;
}
.signli{
    /* display: inline; */
    
}
 a{
    color: rgb(121, 1, 1);
    font-weight: 500;
}
.signin{
    /* position: absolute; */
    /* background-color: red; */
    width: 60%;
    height: 300px;
    /* background-color: red; */
    /* margin-top: 120px; */
    margin-left: 9%;
    border-bottom-right-radius: inherit;
}
#anchor5{
    margin-top: 5%;
    margin-left: 35%;
 
}
#anchor3{
    margin-left: 35%;
    font-size: 93%;

}


        @keyframes mymove {
        
            /* 1% {background: rgb(9, 36, 116)  bottom right/50px 50px;} */
            50% {background: rgb(148, 8, 153)  bottom right/50px 50px;}
        }

@keyframes my2ndmove {
    50% {background: rgb(187, 238, 243)  bottom right/50px 50px;}
}