.main-container{
    height: auto;
    border-bottom: 5px solid rgb(9, 36, 116);
    width: 99%;
    min-width: 400px;
    margin: 0.01%;
    margin-top: 0%;
    padding: 0%;
    background-color: rgb(9, 36, 116);
    margin-left: 0.5%;
} 


.submain-container{
    height: 500px;
    max-width: 400px;
    min-width: 400px;
    margin-left: calc(50% - 200px);
    background-color: rgb(243, 241, 236);
    border-radius: 20px;
    animation: my2ndmove 5s infinite;   
    
}

#linkul-d{
    list-style-type: none;
    margin-top: 0%;
    /* position: relative; */
}
.submain-container>#list-d{
    margin-left: 3.5%;
    margin-top: 30px;
}
#list-d-v{
    height: 40px;
}
.signli{
    
}
 a{
    color: rgb(121, 1, 1);
    font-weight: 500;
}
.signin{
    width: 80%;
    height: 300px;
    margin-left: 9%;
    border-bottom-right-radius: inherit;
}
#anchor5{
    margin-top: 5%;
    margin-left: 35%;
 
}
#anchor3{
    margin-left: 35%;
    font-size: 93%;

}


        @keyframes mymove {
        
            /* 1% {background: rgb(9, 36, 116)  bottom right/50px 50px;} */
            50% {background: rgb(148, 8, 153)  bottom right/50px 50px;}
        }

@keyframes my2ndmove {
    50% {background: rgb(187, 238, 243)  bottom right/50px 50px;}
}