/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
} */
.t-rd::-webkit-inner-spin-button, 
.t-rd::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.td_cont_issu{
    font-size: 120%;
}
.th_phone, .th_email{
    width: 40% ; 

}
.td_cont{
    font-size: 80%;
    color: rgb(28, 28, 209);
}
.cont_disp_cont{
 width: 98.7% !important;
 margin-left: 0.5%;
}
#display_contact{
    height: 30px !important;
}
#tbl_contacts{
    width: 50% !important;
    min-width: 303px;
}
#btn_contact{
    margin-left: 106%;
}
.tbl_disp_contact{
    width: inherit !important;
    overflow-x: hidden !important;
}
.th_cont{
    margin-right: 5% ;
}
.td_cont{
    min-width: 100px;
}