#instructor_info_main_container{
    border: 1.5px solid rgb(7, 7, 221);
    width: 98.8%;
    margin-left: 0.5%;
    margin-top:  0.1vh;

}
#instructor_info_container{

    margin-top: 5vh;
    margin-left: 2%;
    color: rgb(4, 4, 136);
}
#instructor_info{
    color: black;
    font-size: 90%;
    width: 40%;
    text-align: left;
    margin-bottom: 0%;
}

#biography-container{
    width: 40%;
    margin-left: 7%;
    color: black;
    font-family:'Times New Roman', Times, serif ;
    /* background-color: red; */
}
.hr{
    
    width:99%;
    margin-left: 0.1%;
    
}