#instructor_info_main_container{
    border: 1.5px solid rgb(215, 215, 255);
    width: 98.8%;
    margin-left: 0.5%;
    margin-top:  0.1vh;
    /* float: left; */
    /* position: absolute; */

}
#instructor_info_container{

    margin-top: 5vh;
    margin-left: 2%;
    color: rgb(4, 4, 136);
}
#instructor_info{
    color: black;
    font-size: 90%;
    width: 40%;
    text-align: left;
    margin-bottom: 0%;
}

#biography-container{
    /* float: left; */
    width: 40%;
    margin-left: 7%;
    color: black;
    font-family:'Times New Roman', Times, serif ;
    /* background-color: red; */
    /* position: absolute; */
}
.hr{
    
    width:99%;
    margin-left: 0.1%;
    
}
#s_p_p{
    /* float: right; */
    /* background-color: red; */
    width: 100px !important;
    height: 100px;
}
#s_p_p_container{
    /* background-color: red; */

    width: 100px !important;
    height: 100px;
/* margin-left: 80%; */
/* float: right; */
/* margin-top: 200px; */
/* position: absolute; */
}
#main-cont-sp{
    display: flex;
}